.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Thay đổi kích thước của các phần tử */
.form-group input {
  max-width: 300px;
  /* Đặt kích thước tối đa cho ô nhập liệu */
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  /* Căn giữa các ô nhập liệu */
  font-size: 1em;
  border: 1px solid #ccc;
  /* Viền input */
  border-radius: 5px;
  /* Góc bo tròn */
}

/* Định dạng nút Register Now */
.float-right.mt-3 {
  color: #61dafb;
  /* Màu chữ */
  text-decoration: none;
  /* Loại bỏ gạch chân */
}

.float-right.mt-3:hover {
  color: #4fa3d1;
  /* Màu chữ khi di chuột qua */
}

/* Thay đổi màu nền và màu chữ cho phần form */
form.shadow-lg {
  background-color: #ffffff;
  /* Màu nền */
  color: #333333;
  /* Màu chữ */
}

/* Tùy chỉnh nút đăng nhập */
#login_button {
  background-color: #61dafb;
  /* Màu nền */
  color: #ffffff;
  /* Màu chữ */
  font-size: 1.2em;
  /* Cỡ chữ */
  border: none;
  /* Loại bỏ viền */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển đổi màu nền */
}

#login_button:hover {
  background-color: #4fa3d1;
  /* Màu nền khi di chuột qua */
}

/* Thay đổi kích thước của các phần tử */
.row.wrapper {
  margin: 50px auto;
}

/* Tùy chỉnh kích thước input và label */
.form-group label {
  font-size: 1.1em;
  /* Cỡ chữ của label */
}

.portal-namecard {
  background-color: #330066;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px; /* Thêm border-radius để bo tròn góc */

}

.col-20.col-lg-10 {
  padding: calc(50px + 1rem);
  /* Padding 50px và thêm 1rem (16px) */
  margin: calc(50px + 1rem);
  /* Tương tự với margin */
}

.green-box {
  width: 5px;
  background-color: #FF3333;
  padding: calc(42px + 1rem);

  /* Bo tròn các góc, ngoại trừ cạnh trái */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.portal-container {
  position: relative;
  margin: 0 auto;
  /* Đặt margin trên và dưới là 0, và căn giữa theo chiều ngang */
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  height: 100vh;
  /* Đặt chiều cao của container là 100% chiều cao của viewport */
  transform: scale(2.9);
  /* Tăng kích thước lên 1.5 lần */
  box-sizing: border-box;
  border-radius: 15px !important;

}

.black-overlay {
  position: absolute;
  /* Đặt vị trí của viền hình chữ nhật thành absolute */
  width: 290px;
  /* Độ rộng của viền hình chữ nhật */
  height: 190px;
  /* Chiều cao của viền hình chữ nhật */
  border: 7px solid black;
  border-radius: 10px;
  /* Bo tròn góc với bán kính là 10px */
  /* Viền màu đen */
  top: 50%;
  /* Canh lề trên ở giữa */
  left: 50%;
  /* Canh lề trái ở giữa */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  /* Dịch chuyển viền đi 50% kích thước của nó theo cả chiều ngang và chiều dọc */
}

.color-block {
  height: 190px;
  width: 290px;
}

.blue {
  flex-grow: 2; /* Thay đổi flex-grow thành 2 để ô màu trắng mở rộng hơn */
  flex-basis: 200px;
  background-color: #330066;
}

.red {
  background-color: white;
}

.purple {
  flex-grow: 2; /* Thay đổi flex-grow thành 2 để ô màu trắng mở rộng hơn */
  flex-basis: 150px;
  background-color: #FF3333;
}

